div.header {
    height: 50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 100px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #6744F7;
}

.logo {
    height: 35px;
    width: 30px;
    margin-right: 3px;
}

span {
    font-size: 23px;
    font-family: arial;
}

span.programming {
    font-weight: 650;
    margin-right: 3px;
}

.right {
    display: flex;
    align-items: center;
}

.myclasses {
    font-size: 15px;
    margin-left: 650px;
    margin-right: 23px;
}

.noti {
    height: 27px;
    width: 23px;
    margin-right: 25px;
}

.left {
    display: flex;
    align-items: center;
}

.cart {
    height: 25px;
    width: 22px;
    margin-right: 25px;
}

.my-pic {
    height: 40px;
    width: 40px;
    margin-right: 25px;
    border-style: solid;
    border-radius: 30px;
    border-color: #6744F7;
}

.middle {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.text span {
    font-size: 35px;
    font-weight: 1000;
    font-family: Verdana;
    color: white;
    line-height: 1.6;
}

.text {
    margin-bottom: 52px;
}

.bn {
    margin-bottom: 52px;
}

.bn span {
    font-size: 14.5px;
    font-family: Verdana;
    color: white;
}

.btn {
    background-color: #FF309E;
    width: 200px;
    padding: 17px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn:hover {
    background-color: #b90666;
}

.btn span {
    font-size: 17px;
    font-family: sans-serif;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
}

.btn img {
    height: 25px;
    width: 30px;
}

.left-m {
    width: 40%;
}

.right-m {
    width: 60%;
}

.left-m img {
    height: 400px;
    width: 400px;
    margin-left: 30px;
}